<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/c1f12001f0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="addTask">
        <p style="display: none;" id="idTask"></p>
        <input type="text" placeholder="Điền công việc của bạn" id="inpTask">
        <button id="btnTask">Thêm công việc</button>
    </div>
    
    <div id="todolist">
        <%todolist.forEach(item=>{%>
        <div class="item <%=item.complete?'complete':''%>" data-id="<%=item.id%>">
            <p><%=item.task%></p>
            <div class="btnGroup">
              <button class="btnComplete" data-id="<%=item.id%>"><i class="fa-solid fa-check"></i></button>
              <button class="btnDelete" data-id="<%=item.id%>"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
        <%})%>
    </div>
    
</body>
<script src="/script.js"></script>
</html>